<div class="content">
  <%= image_tag 'avatar-sequel.jpg', class: "slideshow-image" %>

  <h2 class="main-page-header">News</h2>
  <hr>
  <%= render 'articles/index' %>
  <div style="clear: both"></div>

  <h2 class="main-page-header">Trending</h2>
  <hr>
</div>
