<div class="content">
  <div class="slideshow-image-cont noselect" aria-label="Slideshow">
    <div class="slideshow-all-images">
      <div id="sl_img0" class="slideshow-image sl-disp"></div>
      <div id="sl_img1" class="slideshow-image sl-right"></div>
      <div id="sl_img2" class="slideshow-image sl-right"></div>
    </div>
    <a href="#" class="slideshow-click noselect"></a>
    <a class="action left noselect" rel="prev" aria-label="Previous image"></a>
    <a class="action right noselect" rel="next" aria-label"Next image"></a>
  </div>

  <h2 class="main-page-header">News</h2>
  <hr>
  <%= render 'articles/index' %>
  <div style="clear: both"></div>

  <h2 class="main-page-header">Trending</h2>
  <hr>
  <%= render 'movies/index' %>

  <h2 class="main-page-header">Did you know?</h2>
  <hr>
  <%= render 'trivia/random' %>
</div>
