@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');
$body-bg: #000;
$body-fg: #fff;
$body-margin: 2.3%;

/* ------ BEGIN NAVBAR ------- */
$logo-width: 100px;
$nav-font-size: 18px;

$searchbar-bg: #fff;
$searchbar-fg: #000;
$searchbar-padding: 5px;

$searchbar-height: 50px;

/* ------ END NAVBAR ------- */

/* ------ BEGIN CONTENT ------- */

$content-bg: #dcdcdc;
$content-fg: #000;

$main-font: 'Playfair Display';
