// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article-show-img {
  float: left;
  padding: 1%;
}

.article-thumbnail {
  border-radius: 20px;
}

.article-author {
  display: inline-block;
}

.article-show-content {
  padding: 3% 5%;
  line-height: 1.3em;
  p {
    margin: 1% 0;
  }
}

.article-head {
  margin-left: 2%;
}

.sub-author {
  font-size: 35%;
  opacity: 0.7;
  font-style: italic;
}

.form-inputs {
  font-size: 1.3em;

  input#article_title {
    width: 30%;
  }
}

.fp-btns {
  clear: both;
  display: flex;
  width: 40%;
  margin: 0 auto;
  a {
  flex: 1;
  padding: 1em 0;
  text-align: center;
  border: 1px solid black;
  }
  a:first-of-type {
    border-right: 0;
  }
}
