// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.movie-head-cont {
  display: flex;
  padding: 0 1%;
  .movie-info-cont {
    display: flex;
    align-self: flex-end;
    width: 100%;
    justify-content: space-around;
    position: relative;
    align-items: flex-end;
  }
}

.user-round-avatar {
  width: 60px;
  height: 60px;
  float: left;
}

.movie-show-content {
  position: relative;
}

.creator {
  display: flex;
  height: 70px;
  align-items: center;
  margin: 3px;
  span {
    padding-left: 10px;
  }
}

.row {
  display: flex;

  .leftcol {
    flex: 63;
  }

  .rightcol {
    flex: 37;
  }
}

.movie-media {
  width: 100%;
  background-color: #dcdcdc;
  height: 280px;
  padding: 0 1%;
  iframe {
    height: 100%;
    width: 600px;
  }
  img {
    height: 100%;
  }
}

.movie-info {
}

.movie-creators {
  height: 280px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  border-width: 0 0 1px 1px;
  border-color: black;
  border-style: solid;
}

.movie-description {
  padding: 0 1%;
}

.rating {
  .rating-current {
    font-size: 2em;
  }
}

.rate-movie-dropdown {
  float: right;
  width: 25%;
  padding: 1%;
  margin-right: 3%;
  background-color: #bababa;
  p.rating-helper-text {
    text-align: center;
    margin-top: 2%;
  }
  p.rating-responsive {
    text-align: center;
    .rating-num {
      font-size: 2em;
    }
    .rating-description {
      font-size: 0.9em;
      opacity: 0.8;
    }
  }
}

.rating-dropdown-btns {
  width: 100%;
  display: flex;
  margin-top: 2%;
  .btn {
    flex: 1;
    height: 9vh;
    font-family: inherit;
    font-size: 1em;
    border: 0;
  }
  .rating-save {
    background-color: #efce48;
  }

  .rating-cancel {
    background-color: #ff5555;
  }
}

#star-rating {
  width: 80%;
  margin: 3% auto;
  display: flex;
  label {
    padding: 0 0.5%;
    flex: 1;
  }
}

.hidden {
  display: none;
}

.rate-movie-func {
  .star-img {
    width: 30px;
    height: 30px;
  }
  .dropdown-toggle-btn {
    background-color: #bababa;
    border: 0;
  }
}

.thoughts-text {
  margin-bottom: 1%;
}

.thoughts-cont {
  textarea {
    border: 0;
    resize: none;
    height: 20vh;
    width: 100%;
    background-color: #e7e7e7;
    font-family: sans-serif;
  }
}
