.star-border-only {
  background-image: url('star_border_only.svg');
  background-size: 25px 25px;
  background-repeat: no-repeat;
  display: block;
  width: 25px;
  height: 25px;
  overflow: hidden;
  float: left;
}

.star-filled {
  background-image: url('star_filled.svg');
}
