.user-profile-img-big {
}

.user-show-content {
  display: flex;
}
.user-show-name {
  display: inline-block;
}

.user-show-headline {
  clear: right;
}

.user-show-username {
  display: inline-block;
}

.user-show-sidebar {
  width: 150px;
  height: 100vh;
}

.send-friend-request {
  padding: 1%;
  border: 1px solid black;
  display: inline-block;
}

.user-show-text {
  flex: 1;
  .user-header {
    padding: 1%;
  }
}

.user-show-nav {
  clear: both;
  width: 100%;
  a {
    color: white;
    &:hover {
      color: #bcbcbc;
    }
  }
  ul {
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    padding: 1% 0;
    a {
      flex: 1;
      &.active {
      }
    }
  }
}

.us-movie-cover {
  height: 120px;
  @include noselect;
}
.us-movs-cont {
  display: flex;
  align-items: flex-end;
}
.us-mov-cont {
  width: 14vw;
  margin: 1vw;
}

.row {
  display: flex;
}

.us-mov-title {
  a {
    color: darkred;
  }
}

.us-mov-thoughts {
  display: block;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
  font-size: 12px;
}
