.user-profile-img-big {
}

.user-show-content {
  display: flex;
}
.user-show-name {
  display: inline-block;
}

.user-show-headline {
  clear: right;
}

.user-show-username {
  display: inline-block;
}

.user-show-sidebar {
  width: 150px;
  height: 100vh;
}

.send-friend-request {
  padding: 1%;
  border: 1px solid black;
  display: inline-block;
}

.user-show-text {
  flex: 1;
  .user-header {
    padding: 1%;
  }
}

.user-show-nav {
  clear: both;
  width: 100%;
  a {
    color: white;
    &:hover {
      color: #bcbcbc;
    }
  }
  ul {
    background-color: black;
    color: white;
    display: flex;
    text-align: center;
    padding: 1% 0;
    a {
      flex: 1;
      &.active {
      }
    }
  }
}

.us-movie-cover {
  height: 120px;
  @include noselect;
}
.us-movs-cont {
  display: flex;
  align-items: flex-end;
}
.us-mov-cont {
  width: 14vw;
  margin: 1vw;
}

.row {
  display: flex;
}

.us-mov-title {
  a {
    color: darkred;
  }
}

.us-mov-thoughts {
  display: block;
  background-color: #f8f8f8;
  border-radius: 3px;
  padding: 3px;
  margin: 3px;
  font-size: 12px;
}

.us-arts-cont {
  display: flex;
  flex-wrap: wrap;
}
.us-arts-cont ~ h2 {
  clear: both;
}

.us-art-cont {
  width: 50%;
}

.us-art-title {
  display: block;
  float: left;
  font-size: 1.3em;
  height: 25%;
}

.us-art-thumbnail {
  float: left;
  vertical-align: top;
  margin: 1vw;
  width: 87px;
  height: 120px;
}

.us-cmt-cont {
  background-color: #f8f8f8;
  padding: 0.5vw;
  margin-bottom: 1vw;
  display: flex;
  &:first-of-type {
    margin-top: 1vw;
  }
  .us-cmt-content {
    flex: 7;
    padding: 1vw;
  }

  .us-cmt-ago {
    font-size: 1em;
    line-height: 1.4em;
    height: 1.4em;
    flex: 1;
    text-align: center;
    display: block;
    background-color: #ececec;
  }
}
