/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'variables';
@import 'reset';
@import 'application_articles';
@import 'form_styling';

/* WYSIWYG editor */
@import "froala_editor.min.css";
@import "froala_style.min.css";
@import "font-awesome";

/* WYSIWYG plugins */
@import 'plugins/char_counter.min.css';
@import 'plugins/code_view.min.css';
@import 'plugins/colors.min.css';
@import 'plugins/emoticons.min.css';
@import 'plugins/file.min.css';
@import 'plugins/fullscreen.min.css';
@import 'plugins/help.min.css';
@import 'plugins/image_manager.min.css';
@import 'plugins/image.min.css';
@import 'plugins/line_breaker.min.css';
@import 'plugins/quick_insert.min.css';
@import 'plugins/special_characters.min.css';
@import 'plugins/table.min.css';
@import 'plugins/video.min.css';

a {
  text-decoration: none;
  color: black;
  cursor: url('hover_cursor.png') 15 15, auto;
  &:hover {
    background-color: transparent;
    color: black;
  }
}

h1 {
  font-size: 3em;
}
h2 {
  font-size: 2em;
}
h3 {
  font-size: 20px;
}

body {
  background-color: $body-bg;
  margin: $body-margin;
  color: $body-fg;
  font-family: $main-font;
  font-size: 1.2vw;
}

.logo,
.search-icon {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.nav-top {
  display: flex;
  width: 100%;
  font-size: $nav-font-size;
  a {
    color: white;
  }
  .logo {
    width: $logo-width;
  }
}


.search-bar {
  background-color: $searchbar-bg;
  color: $searchbar-fg;
  padding: $searchbar-padding;
    .search-icon {
      height: $searchbar-height - (2 * $searchbar-padding);
    }
}


.nav-left-cont {
  flex: 2;
}

.nav-mid-cont {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nav-right-cont {
  flex: 2;
  height: $searchbar-height;
  line-height: $searchbar-height;
  text-align: right;
  a {
  margin: 0 25px;
  }
}

.modal {
  color: black;
}

.login-cont {
  display: flex;

  .login-unit-cont {
    flex: 1;

    .login-input {
      width: 85%;
      padding: 10px;
      border: 0px;
    }

    .email-input {
      border-bottom: 2px solid orange;
    }

    .password-input {
      border-bottom: 2px solid red;
    }
  }
}

.login-submit {
  font: inherit;
  color: #000;
  display: block;
  width: 70%;
  background-color: transparent;
  padding: 10px;
  border: 1px solid black;
  margin: 20px auto;
}

.social-cont {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}


@mixin social-button($iconurl) {
  padding: 0;
  border: 1px solid black;
  font-family: inherit;
  background-color: transparent;
  color: #000;
  font-size: inherit;
  line-height: 40px;
  width: 70%;
  margin: 0 auto;
  &:before {
    content: '';
    display: block;
    width: 40px;
    height: 40px;
    float: left;
    background-image: url($iconurl);
    background-size: 100%;
  }
}

.login-facebook {
  @include social-button("https://upload.wikimedia.org/wikipedia/commons/thumb/c/c2/F_icon.svg/1024px-F_icon.svg.png");
  margin: 0px 0px 5px 0px;
}

.login-google {
  @include social-button("https://upload.wikimedia.org/wikipedia/commons/thumb/9/9f/Google_plus_icon.svg/2000px-Google_plus_icon.svg.png");
  margin: 5px 0;
}

.shared-links {
  display: flex;
  width: 70%;
  justify-content: space-around;
  margin: 0 auto;
}

.main-pages-nav {
  width: 100%;
  margin-top: 70px;
  ul {
    display: flex;
    text-align: center;

    li {
      flex: 1;
      padding: 10px;
    }
  }
}

li.active {
  background-color: #dcdcdc;
  a {
    color: black;
    &:hover {
      background-color: transparent;
    }
  }
}

.article-cont {
  &:first-of-type {
    margin-top: 30px;
  }

  clear: both;
  .article-thumbnail {
    height: 250px;
    float: left;
    margin: 0 20px 20px 0;
  }
  .article-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .article-content {
    font-size: 18px;
    margin-right: 100px;
    word-spacing: 0.1px;
    line-height: 1.2em;
  }
}
.movie-cont {
  &:first-of-type {
    margin-top: 30px;
  }

  clear: both;
  .movie-cover-img {
    float: left;
    margin: 0 20px 20px 0;
  }
  .movie-title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .movie-description {
    margin-right: 100px;
    word-spacing: 0.1px;
    line-height: 1.2em;
  }
}
