// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.article-show-img {
  float: left;
  padding: 1%;
}

.article-author {
  display: inline-block;
}

.article-show-content {
  padding: 3% 5%;
  line-height: 1.3em;
  p {
    margin: 1% 0;
  }
}

.article-head {
  margin-left: 2%;
}

.sub-author {
  font-size: 35%;
  opacity: 0.7;
  font-style: italic;
}

.form-inputs {
  font-size: 1.3em;

  input#article_title {
    width: 30%;
  }
}
