// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movie-head-cont {
  display: flex;
  .movie-info-cont {
    display: flex;
    align-self: flex-end;
    width: 100%;
    justify-content: space-around;
  }
}

.rating {
  .rating-current {
  font-size: 2em;
  }
}
