// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movie-head-cont {
  display: flex;
  .movie-info-cont {
    display: flex;
    align-self: flex-end;
    width: 100%;
    justify-content: space-around;
    position: relative;
    align-items: flex-end;
  }
}

.rating {
  .rating-current {
  font-size: 2em;
  }
}
.rate-movie-dropdown {
  position: absolute;
  background-color: #272836;
  margin-left: -10%;
  margin-top: 2%;
}

.hidden {
  display: none;
}

.rate-movie-func {

}

.rate-movie-description {
  textarea {
    border: 1px solid #202136;
    background-color: #202136;
    color: white;
    font-family: sans-serif;
  }
}
