// Place all the styles related to the Movies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.movie-head-cont {
  display: flex;
  .movie-info-cont {
    display: flex;
    align-self: flex-end;
    width: 100%;
    justify-content: space-around;
    position: relative;
    align-items: flex-end;
  }
}

.user-round-avatar {
  width: 60px;
  height: 60px;
  float: left;
}
.movie-show-content {
  position: relative;
}

.rating {
  .rating-current {
  font-size: 2em;
  }
}
.rate-movie-dropdown {
  float: right;
  width: 25%;
  padding: 1%;
  background-color: #bababa;
  p.rating-text {
    text-align: center;
  }
}

.hidden {
  display: none;
}

.rate-movie-func {
  .star-img {
    width: 30px;
    height: 30px;
  }
}

.rate-movie-description {
  textarea {
    width: 100%;
    background-color: #e7e7e7;
    font-family: sans-serif;
  }
}
