@import url('https://fonts.googleapis.com/css?family=Playfair+Display');

$body-bg: #000;
$body-fg: #fff;
$body-margin: 2%;

/* ------ BEGIN NAVBAR ------- */
$logo-width: 100px;
$nav-font-size: 18px;

$searchbar-bg: #fff;
$searchbar-fg: #000;
$searchbar-padding: 5px;

$searchbar-height: 50px;

/* ------ END NAVBAR ------- */

/* ------ BEGIN NAVBAR ------- */

$main-font: 'Playfair Display'
